.SatanImg {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.SatanWrapper {
  margin: auto;
  width: 50%;
  border: 3px solid #73ad21;
  padding: 10px;
}

.Title {
  text-align: center;
}
